.footer-div {
    margin: 0;
    padding: 8px 0;
    background-color: #e22e2d;
}

.footer-title {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: #eee;
}

.footer-title::selection {
    background-color: #eee;
    color: #e22e2d;
}