.freight-div {
    height: fit-content;
    padding: 10px;
    background-color: #eee;
    border-color: #e22e2d;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}

.freight-div-cep {
    min-width: fit-content;
    max-width: 55vw;
    width: 35vw;
}

.freight-div-mapa {
    width: 55vw;
}

.outer-freight-close-button {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.freight-close-button {
    background-color: #e22e2d;
    color: #eee;
    border: none;
    padding: 6px;
    font-size: 15px;
    border-radius: 2px;
    font-weight: 550;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.freight-close-button:hover {
    background-color: #d10012;
    color: #ddd;
}

.freight-instruction-label {
    margin: 0 30px 10px;
    font-size: 20px;
    text-align: center;
    color: #111;
}

.outer-place-selector {
    display: flex;
    justify-content: center;
}

.cep-div {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.cep-label {
    color: #111;
}

.cep-input-div {
    padding: 5px;
    display: flex;
    flex-direction: row;
    border-color: #e22e2d;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

.cep-input {
    height: 20px;
    border: none;
    background-color: #eee;
    font-family: "Outfit", sans-serif;
}

.cep-input:focus {
    border: none;
    outline: none;
}

.cep-button {
    height: 20px;
    background-color: #e22e2d;
    color: #eee;
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
}

.cep-button:hover {
    background-color: #d10012;
    color: #ddd;
}

.freight-price-label {
    margin: 10px auto;
    font-size: 18px;
    text-align: center;
    color: #111;
}

.freight-instruction-label::selection, .cep-label::selection, .cep-input::selection, .freight-price-label::selection {
    background-color: #e22e2d;
    color: #eee;
}