@use "../variables.scss" as v;

.header-div {
    margin: 0;
    padding: 15px 0;
    background-color: v.$primary-color;
}

.header-link {
    text-decoration: none;
}

.header-title {
    margin: 0;
    font-size: 40px;
    text-align: center;
    color: v.$light-color;
}

.header-title:hover {
    color: v.$light-color-1;
}

.header-title::selection {
    background-color: v.$light-color;
    color: v.$primary-color;
}