.outer-toggle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.toggle-container {
    padding: 5px;
    border-color: #e22e2d;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 5px;
}
  
.toggle-button {
    width: 100px;
    border: none;
    padding: 10px 20px;
    font-weight: 550;
    color: #e22e2d;
    border-radius: 5px;
    cursor: pointer;
}
  
.toggle-button.active {
    background-color: #e22e2d;
    color: #eee;
}
  
.selected-option {
    margin-left: 10px;
}