@use "../variables.scss" as v;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

$card-primary-color: rgb(0, 204, 255);

.outer-payment-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.payment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payment-method-warning {
    margin: 8px 0;
    font-size: 18px;
}

.payment-field-div {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payment-field-label {
    margin: 0 0 2px 0;
    cursor: text;
}

.payment-field-input {
    height: 25px;
    padding-left: 5px;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}

.payment-field-input, .expiry-input {
    border-color: v.$primary-color;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

.payment-field-input:focus, .expiry-input:focus {
    border: 2px solid v.$primary-color-darker;
    outline: 1px solid v.$primary-color-darker;
}

.payment-name-input, .payment-cardnumber-input {
    width: 400px;
}

.outer-payment-expiry-inputs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: fit-content;
}

.expiry-input {
    width: 80px;
    height: 25px;
    border-radius: 3px;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}

.expiry-input option:checked {
    background-color: v.$primary-color;
    color: v.$light-color;
}

.expiry-input::-webkit-scrollbar {
    width: 7px;
}

.expiry-input::-webkit-scrollbar-track {
    background-color: v.$scrollbar-track-background-color;
    border-radius: 7px;
}

.expiry-input::-webkit-scrollbar-thumb {
    background: v.$balanced-gray;
    border-radius: 7px;
}

.expiry-input::-webkit-scrollbar-thumb::selection {
    background: v.$dark-color-4;
}

.expiry-input-year {
    size: 5;
}

.expiry-input-divisor {
    margin: 1px 2px;
    font-size: 17.5px;
}

.payment-cvc-input {
    width: 50px;
}

.card {
    width: 350px;
    height: 160px;
    margin-top: 20px;
    border-radius: 25px;
}

.card-front {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $card-primary-color;
    background-image: linear-gradient(to top right, $card-primary-color, v.$light-color-4);
    -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.outer-card-brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.visa-card-brand {
    width: 80px;
    height: 40px;
}

.mastercard-card-brand {
    width: 70px;
    height: 40px;
}

.card-front-chip {
    width: 32px;
    height: 32px;
}

.card-front-label, .card-back-label {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
}

.card-front-label {
    margin: 1px 0px;
}

.card-front-expirylabel {
    font-size: 10px;
    margin: 2px 0 0 0;
}

.card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $card-primary-color;
    background-image: linear-gradient(to top left, $card-primary-color, v.$light-color-4);
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.card-back-first-space {
    height: 40%;
}

.card-back-second-space {
    height: fit-content;
    margin: 0;
    padding: 0 10px;
    background-color: v.$dark-color;
}

.card-back-third-space {
    height: 50%;
}

.card-back-label {
    margin: 10px 0;
    text-align: right;
    color: v.$light-color;
}

@-webkit-keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
      }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
}
  @keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
      }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
}

@-webkit-keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
      }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
}
  @keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
      }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
}

.payment-method-warning::selection, .payment-field-label::selection, .payment-field-input::selection, .card-brand::selection, .card-front-chip::selection, .card-front-label::selection {
    background-color: v.$primary-color;
}

.payment-method-warning::selection, .payment-field-label::selection, .payment-field-input::selection, .card-front-label::selection {
    color: v.$light-color;
}