$primary-color: #e22e2d;
$primary-color-darker: #d10012;
$primary-color-lighter: #fd4d4d;
$white: #fff;
$light-color: #eee;
$light-color-1: #ddd;
$light-color-2: #ccc;
$light-color-3: #bbb;
$light-color-4: #aaa;
$light-color-5: #999;
$balanced-gray: #888;
$black: #000;
$dark-color: #111;
$dark-color-1: #222;
$dark-color-2: #333;
$dark-color-3: #444;
$dark-color-4: #555;
$dark-color-5: #666;
$dark-color-6: #777;
$buy-button-color: #ffc107;
$buy-button-color-lighter: #ffca28;
$scrollbar-track-background-color: #f1f1f1;